[Unit]
Description=My Application
After=network.target

[Service]
User=csye6225
Group=csye6225
Environment=PATH=/usr/bin:/usr/local/bin
Environment="DB_HOST=localhost"
Environment="DB_USER=postgres"
Environment="DB_PASSWORD=root"
Environment="DB_NAME=webapp"
Environment="DB_PORT=5432"
WorkingDirectory=/home/ubuntu/webapp
ExecStart=/usr/bin/node /home/ubuntu/webapp/index.js  # Adjust this path as needed
Restart=always

[Install]
WantedBy=multi-user.target
