[Unit]
Description=My Application
After=network.target

[Service]
ExecStart=/usr/bin/node /home/csye6225/webapp/index.js  # Replace with your main entry point
Restart=always
User=csye6225
Group=csye6225
Environment=PATH=/usr/bin:/usr/local/bin
WorkingDirectory=/home/csye6225/webapp

[Install]
WantedBy=multi-user.target
